.rs-picker-input {
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $text-primary-color !important;
  border-radius: $border-radius !important;
  width: 100%;
  border: 0.5px solid $text-seconday-color;
}

.rs-picker-default .rs-picker-toggle.rs-btn {
  background-color: darkcyan;
  padding: 0 !important;
  display: flex;
  align-items: center;
  height: 100%;
}

.rs-picker-cleanable .rs-picker-tag-wrapper {
  margin: 0;
}

.rs-picker-toggle-placeholder {
  margin-left: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $text-seconday-color !important;
}
